
@font-face {font-family: "iconfont";
  src: url('../../../fonts/common/iconfont.ttf') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-index-cart:before { content: "\e602"; }

.icon-delete_friend:before { content: "\e664"; }

.icon-allOrder:before { content: "\e600"; }

.icon-shopping:before { content: "\e72b"; }

.icon-message_notify:before { content: "\e638"; }

.icon-user:before { content: "\e610"; }

.icon-index_home:before { content: "\e611"; }

.icon-qq:before { content: "\e64c"; }

.icon-address_delete:before { content: "\e632"; }

.icon-upload_img:before { content: "\e649"; }

.icon-star_null:before { content: "\e6a4"; }

.icon-star_full:before { content: "\e6a5"; }

.icon-capital_flow:before { content: "\e63e"; }

.icon-address_radio:before { content: "\e6f0"; }

.icon-down:before { content: "\e741"; }

.icon-type:before { content: "\e76f"; }

.icon-up:before { content: "\e824"; }

.icon-my_money:before { content: "\e631"; }

.icon-index_select_left:before { content: "\e665"; }

.icon-weChatPay:before { content: "\e650"; }

.icon-home:before { content: "\e648"; }

.icon-collect:before { content: "\e667"; }

.icon-integral:before { content: "\e624"; }

.icon-kefuwangwang:before { content: "\e6b4"; }

.icon-auto_setting:before { content: "\e76b"; }

.icon-gift:before { content: "\e622"; }

.icon-see:before { content: "\e6b0"; }

.icon-bottom:before { content: "\e608"; }

.icon-top:before { content: "\e609"; }

.icon-index_order:before { content: "\e669"; }

.icon-index-address:before { content: "\e601"; }

.icon-weibo:before { content: "\e60c"; }

.icon-index_user:before { content: "\e655"; }

.icon-chatInfo:before { content: "\e61c"; }

.icon-close:before { content: "\e614"; }

.icon-index_shopping:before { content: "\e620"; }

.icon-add_friend:before { content: "\e675"; }

.icon-setting:before { content: "\e67b"; }

.icon-billboard:before { content: "\e60e"; }

.icon-phone:before { content: "\e63d"; }

.icon-contacts:before { content: "\e612"; }

.icon-type_2:before { content: "\e613"; }

.icon-upload_file:before { content: "\e616"; }

.icon-upload:before { content: "\e60f"; }

.icon-download:before { content: "\e621"; }

.icon-zhifubao:before { content: "\e8e4"; }

.icon-edit:before { content: "\e6b9"; }

.icon-gouwuche:before { content: "\e603"; }

.icon-address_manager:before { content: "\e61b"; }

.icon-shopping_cart:before { content: "\e635"; }

.icon-alter_password:before { content: "\e627"; }

.icon-menber_manager:before { content: "\e625"; }

.icon-popover_close:before { content: "\e60b"; }

.icon-enlarge:before { content: "\e604"; }

.icon-pay_fail:before { content: "\e633"; }

.icon-customer_service:before { content: "\e60d"; }

.icon-share:before { content: "\e617"; }

.icon-integral_setting:before { content: "\e8e5"; }

.icon-address_edit:before { content: "\e8e6"; }

.icon-address_radioChecked:before { content: "\e8e7"; }

.icon-index-select-top:before { content: "\eb14"; }

.icon-index-select-right:before { content: "\eb15"; }

.icon-index-select-bottom:before { content: "\eb16"; }

.icon-index_type:before { content: "\e615"; }

