/*设置页面背景*/
.mui-content,body{
	background-color: #EFEFF4;
	overflow: hidden;
}
/*设置标题背景*/
header{
	background-color: white;
}
/*设置标题字体*/
header .mui-title{
	font-family: simhei;
	font-size: medium;
	color: #EA6F5A;/*EE8C7B*/
}
header a{
	color: #EA6F5A;
}

header a.mui-btn.mui-pull-right{
	font-family: simhei;
	font-size: 14px;
	color: #EA6F5A;
}
header a.mui-btn.mui-pull-right:active{
	font-family: simhei;
	font-size: 14px;
	color: #EA6F5A;
}

/*设置底部导航栏点击字体颜色*/
.footer a.mui-tab-item.mui-active{
	color: #EA6F5A;
}

/*表单背景*/
.mui-input-group label {
	font-family: simhei;
	font-size: medium;
	background-color: #FFFFFF;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	font-family: simhei;
	font-size: medium;
	background-color: #FFFFFF;
}

/*表单行边框*/
.mui-input-row{
	border-top: 1px solid #C7C7CC;
	background-color: #FFFFFF;
}
/*表单背景颜色*/
.mui-input-group{
	background-color: #FFFFFF;
}

/*提交按钮*/
.submitBtn{
	padding: 5px;
	background-color: #EA6F5A;
	color: white;
	font-family: simhei;
	font-size: medium;
}

/*分割竖线*/
.spliter {
	color: #bbb;
	padding: 0 8px;
}

/*列表背景*/
.mui-table-view{
	background-color: #FFFFFF;
}

/*列表间隔*/
.listView{
	margin-top: 1rem;
}
/*列表字体*/
.listFont{
	font-family: simhei;
	font-size: small;
}

/*顶部导航栏背景和字体颜色*/
#sliderSegmentedControl a{
	color: #B6B6B6;
	background-color: white;
}

#sliderSegmentedControl a.mui-active{
	color: #EA6F5A;
}

#sliderProgressBar{
	background-color: #EA6F5A;
}


/*上拉加载提示背景色*/
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #FFFFFF;/*上拉提示背景色，默认:#efeff4*/
	font-size: 15px;
	line-height: 40px;
	color: #B6B6B6 !important;
	font-family: simhei;
}
/*默认上拉加载和下拉加载刷新样式*/
.mui-pull-top-pocket{
	text-align: center;
	background-color: #FFFFFF;/*上拉提示背景色，默认:#efeff4*/
	font-size: 15px;
	line-height: 40px;
	color: #B6B6B6 !important;
	font-family: simhei;
}
.mui-pull-top-pocket .mui-pull{
	color: #B6B6B6 !important;
}
.mui-pull-bottom-pocket{
	text-align: center;
	background-color: #FFFFFF;/*上拉提示背景色，默认:#efeff4*/
	font-size: 15px;
	line-height: 40px;
	color: #B6B6B6 !important;
	font-family: simhei;
}
.mui-pull-bottom-pocket .mui-pull{
	bottom: 0px !important;
	color: #B6B6B6 !important;
}
