
.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
	font-family: simhei;
	font-size: medium;
	/*background-color: #C7EDCC;*/
}

.mui-input-row{
	border-top: 1px solid #C7C7CC;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 73%;
	float: left;
	font-family: simhei;
	font-size: medium;
	/*background-color: #C7EDCC;*/
}
