.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 30%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	float: left;
	width: 65%;
}

.hqyzm{
	height: 40px;
	width: 116px;
	text-align: center;
	position: absolute;
	right: 0px;
	font-family: simhei;
	font-size: medium;
	color: #EA6F5A;
	/*background-color: #C7EDCC;*/
	border: none;
}
/*获取验证码按下效果*/
.hqyzm:enabled:active{
	background-color: #C7EDCC;
	color: #C0C0C0;
	border: none;
}

.link-area {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-family: simhei;
	font-size: small;
}
