/*底部工具栏*/

.sumPayBtn {
	height: 50px;
	text-align: right;
}

.sumPayBtn button {
	margin: 9px 5px;
}

.sumPayBtn button:last-child {
	border-color: #EA6F5A;
	color: #EA6F5A;
}


/*当前页面按钮点击*/

.sumPayBtn button:active,
.order button:active {
	background-color: #FFFFFF;
	color: #EA6F5A;
}


/*订单状态*/

.orderStatus {
	width: 100%;
	height: 90px;
	/*background-color: #FF8301;*/
	background: linear-gradient(to right, #FF9000, #FF5100);
	padding: 20px 30px;
	/*border: 1px solid red;*/
}

.orderStatus_desc {
	/*border: 1px solid red;*/
	width: 80%;
	height: 60%;
}

.orderStatus_desc span:first-child {
	/*border: 1px solid red;*/
	display: inline-block;
	height: 60%;
	width: 100%;
	color: #FFFBF7;
	font-size: large;
}

.orderStatus_desc span:last-child {
	/*border: 1px solid red;*/
	display: inline-block;
	height: 40%;
	width: 100%;
	color: #FFFBF7;
	font-size: small;
}


/*地址栏*/

.settlementAddresss {
	/*border-top: 1px solid #CCCCCC;*/
	height: 80px;
	font-size: 12px;
	background-color: white;
}

.settlementAddresss_top {
	/*border: 1px solid red;*/
	height: 40%;
	font-size: 14px;
	padding-top: 10px;
}

.settlementAddresss_top_name {
	display: block;
	height: 100%;
	width: 60%;
	/*border: 1px solid red;*/
	float: left;
	text-align: left;
	padding-left: 5px;
}

.settlementAddresss_top_phone {
	display: block;
	height: 100%;
	width: 40%;
	/*border: 1px solid red;*/
	float: left;
	text-align: right;
	padding-right: 5px;
}

.settlementAddresss_center {
	border-bottom: 1px solid #E3E2E5;
	height: 60%;
	padding-bottom: 10px;
}

.settlementAddresss_center .icon-index-address {
	display: block;
	height: 100%;
	width: 8%;
	color: #A0A0A0;
	/*border: 1px solid red;*/
	float: left;
	text-align: left;
	padding: 5px;
}

.settlementAddresss_center_addr {
	display: block;
	height: 100%;
	width: 92%;
	/*border: 1px solid red;*/
	float: left;
	color: #A0A0A0;
	text-align: left;
	padding-left: 5px;
}


/*内容*/

.orderDetail {
	/*border: 1px solid red;*/
	margin-top: 10px;
}

.orderDetail a {
	color: black;
}

.shop {
	/*border: 1px solid red;*/
	width: 100%;
}

.shop_title {
	border-bottom: 1px solid #E3E2E5;
	background-color: #FFFFFF;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

.shop_title .shopName {
	/*border: 1px solid red;*/
	font-size: 14px;
	height: 100%;
	display: block;
	float: left;
	padding-left: 5px;
}

.order_goodList {
	margin: 0px;
	padding: 0px;
}

.order_goodList_img {
	height: 100px;
	float: left;
	padding: 1px;
}

.order_goodList_img img {
	width: 100%;
	height: 100%;
}

.order_goodList_desc {
	height: 100%;
	float: left;
	height: 100px;
}

.order_goodList_desc .goodDesc {
	/*border: 1px solid red;*/
	height: 40%;
	width: 100%;
	padding: 2px;
	float: left;
	font-size: 12px;
}

.order_goodList_desc .goodParam {
	/*border: 1px solid red;*/
	height: 30%;
	width: 100%;
	float: left;
	padding: 5px;
}

.order_goodList_desc .goodParam span:first-child {
	/*border: 1px solid red;*/
	display: block;
	float: left;
	color: #919191;
	font-size: 10px;
}

.order_goodList_desc .goodMoney {
	/*border: 1px solid red;*/
	height: 30%;
	width: 100%;
	float: left;
	padding: 3px;
}

.order_goodList_desc .goodMoney span:first-child {
	/*border: 1px solid red;*/
	height: 100%;
	width: 90%;
	display: block;
	float: left;
	color: #EA6F5A;
	font-size: 14px;
}

.order_goodList_desc .goodMoney span:last-child {
	/*border: 1px solid red;*/
	height: 100%;
	width: 10%;
	display: block;
	float: left;
	color: #ACACB4;
	padding-right: 6px;
	font-size: 12px;
}

.order_goodFooter {
	height: 120px;
	background-color: white;
}

.order_money_detail {
	/*border: 1px solid red;*/
	height: 17.5%;
	width: 100%;
	color: #BFBFBF;
}

.order_money_detail span {
	color: #BFBFBF;
}

.order_totalMoney {
	font-size: medium;
}

.order_totalMoney span {
	color: black;
}

.order_money {
	height: 30%;
	width: 100%;
	margin-top: 5px;
	padding-top: 3px;
	border-top: 1px solid #EEEEEE;
}

.order_money span {
	font-size: medium;
}

.order_goodFooter_money {
	height: 100%;
	display: inline-block;
	padding-top: 2px;
	padding-right: 5px;
	float: right;
	color: #EA6F5A;
	/*border: 1px solid red;*/
}

.order_goodFooter_desc {
	height: 100%;
	display: inline-block;
	text-align: left;
	padding-top: 2px;
	float: left;
	/*border: 1px solid red;*/
}


/*联系卖家*/

.contactBtn {
	/*border: 1px solid #EAEAEA;*/
	width: 100%;
	height: 50px;
	margin-top: 10px;
	background-color: white;
}

.contactBtn .icon-customer_service {
	border: 1px solid #EAEAEA;
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 45%;
	margin-top: 5px;
	margin-left: 10px;
}

.contactBtn .icon-phone {
	border: 1px solid #EAEAEA;
	display: block;
	float: right;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 45%;
	margin-top: 5px;
	margin-right: 10px;
}

.contactBtn .icon-customer_service span,
.contactBtn .icon-phone span {
	color: black;
}


/*订单号信息*/

.orderSeqInfo {
	/*border: 1px solid red;*/
	height: 120px;
	margin-top: 10px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.orderSeqInfo span {
	color: #6E6E6E;
	/*border: 1px solid red;*/
	height: 20%;
	width: 100%;
	display: block;
	float: left;
}